<div class="row">
  @for (food of foodList; track $index) {
    <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="{{food.imageUrl}}" class="card-img-top" alt="{{food.name}}" />
        <div class="card-body">
          <h5 class="card-title">{{food.name}}</h5>
          <p>{{food.description}} - ₹{{food.price}}</p>
          <p>
            Quantity:
            <input type="number" min="1" max="10" [(ngModel)]="quantity" (change)="changeQuantity(food.id!)" />
          </p>
          <a class="btn btn-primary" (click)="orderFood(food.id!)">Order</a>
        </div>
      </div>
    </div>
  }
</div>
